<div style='background-color:#000080;border-radius: 0px;color:white;padding-left:16px;height:75px;margin-bottom:40px;' class="nav-stylings">
  <div style='background-color:#000080;border-radius: 0px;color:white;padding-left:16px;border:#000080' class='navbar navbar-inverse' role='navigation'>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle Navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a style='color:white;font-size:40px;padding-top:25px;' class='navbar-brand' href='/'>Jeiter</a>
      </div>
      <div style='color:white;' class='navbar-collapse collapse'>
        {% if current_user.is_authenticated %}
        <ul class='nav navbar-nav navbar-right'>
          <li><a style='color:white;font-size:20px;padding-top:25px;' href="{{url_for('main.profile_user', uname=current_user.username, id=current_user.id)}}">{{current_user.username|upper}}</a></li>
          <li><a style='color:white;font-size:20px;padding-top:25px;' href="{{url_for('auth.logout')}}">Log Out</a></li>
        </ul>
        {% endif %}
        {% if current_user.username == 'master' %}
        <ul class='nav navbar-nav navbar-right'>
          <li><a style='color:white;font-size:20px;padding-top:25px;' href="{{url_for('main.write_post')}}">New Blog Post</a></li>
          <li><a style='color:white;font-size:20px;padding-top:25px;' href="{{url_for('main.profile_admin', uname=current_user.username, id=current_user.id)}}">Admin Settings</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
